@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

@font-face {
    font-family: "header-font";
    src: url(Akronim-Regular.ttf);
}

* {
    color:rgb(139, 18, 175);
    background-color: black;
}

/* padding long */
.important-topics {
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-radius: 1vh;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
}

/* long margin */
.questions {
    border: 2px solid green;
    border-radius: 5mm;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 1px;
    margin-left: 20px;
}

/* short margin */
.comments {
    border: 2px solid purple;
    border-radius: 5mm;
    margin: 1px 1px 1px 20px;
}

/* center main title and give it a font */
h1 {
    text-decoration: underline;
    text-align: center;
    font-family: "header-font";
}

h3 {
    max-width: 1cm;
}

/* create block nuke */
.nuke {
    display: block;
}

.Concept-Town {
    height: 10cm;
    width: 50vw;
}

/* configure the forms at bottom */
.forms {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.where-to {
    position: relative;
    left: 40px;
}

/* pseudo class selector */
.animal-q:hover {
    color: green;
}

.color-q:active {
    color: red;
    order: 2;
    flex-grow: 2;
}

#red {
    font-family: "header-font";
}

.q-c {
    display: grid;
}

.questions {
    grid-row-start: 2;
}

.comments {
    grid-row-start: 3;
}

.testing {
    grid-column: 3 / 10;
    grid-row-start: 2;
    justify-self: end;
}

/* id, element, and selector list */
#blow-up, *::first-letter {
    color:crimson;
}

/* attribute selector */
a[href="#"] {
    text-decoration: underline dotted;
}

/* descendant combinator */
ul li {
    list-style-type: circle;
}

/* child combinator */
div > h3 {
    background-color:darkgoldenrod;
}

/* gen. sibling combinator */
li ~ li {
    color: white;
}

/* adjacent sibling combinator */
li + li {
    background-color:gray;
}

/* combining two selectors */
.ask.again {
    background-color:palegreen;
    grid-row-start: 4;
}